* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: goldenrod; */
    margin: auto;
    padding: 10px 0px;
}
.logo p {
    font-size: 35px;
    font-weight: 900;
}

header nav {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

header nav ul {
    display: flex;
    column-gap: 50px;
    font-size: 15px;
    font-weight: 800;
    color: #1e1b1b;
    padding: 2px 0px;
    padding-right: 30px;
    border-right: 1px solid gray;
}

header nav ul li {
    list-style: none;
} 

.nav-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 800;
    color: #1e1b1b;
}

.container {
    width: 100%;
    height: 94vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    width: 80%;
    height: 80%;
    margin: auto;
    /* background-color: goldenrod; */
    display: flex;
}
.left {
    width: 50%;
    height: 100%;
    /* background-color: black; */
    padding: 60px 0px;
}

.right {
    width: 50%;
    height: 100%;
    background-image: url("../images/Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.left-text {
    font-size: 50px;
    font-weight: 800;
    line-height: 75px;
    color: #1e1b1b;
}
button {
    margin-top: 35px;
    width: 230px;
    height: 80px;
    background-color: #ff6433;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 9px;
    border: none;
    outline: none;
}

.left-sub {
    margin-top: 50px;
    display: flex;
    column-gap: 10px;
    align-items: center;
    color: white;
}
.icon-text {
    font-size: 13px;
    font-weight: 900;
    color: #1e1b1b;
}

.light-p {
    font-size: 13px;
    font-weight: 600;
    color: gray;
}

#img-1 {
    position: absolute;
    top: 0%;
    left: -25%;
}

#img-2 {
    position: absolute;
    bottom: 0%;
    right: -25%;
}